*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

h1{
    color: #ffd900;
    margin-bottom: 8px;
}

h2{
    font-weight: 500;
    margin-top: 0;
}

.menu {
    
    width: 100%;
    text-align: center;
}

.frame{
    min-height: 100vh;
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.modelo{
    flex: auto;
    width: 50%;
    height: 80vh;
    position: relative;
    
    
    
}

.bici{
    flex: auto;
    width: 50%;
    position: relative;
    
}

.group-entrepierna{
    position: absolute;
    top: 70%;
    left: 50%;
}

.group-altura{
    position: absolute;
    top: 50%;
    left: 15%;
}

.info-adicional{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    border-left-style:solid;
    border-color: #ffd900;
    padding-left: 16px;
}

.hidden{
    float: left;
    width: 30%;
    padding-right: 8px;
    
}



input{
    border-radius: 8px;
    padding-left: 8px;
    border-style: none;
    margin-top: 8px;
    width: 100px;
    font-size: 16px;
}

.entrepierna{
    background-color: black;
}

.dato-entre{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    margin-top: 8px;
    border-radius: 0;
    width: 100px;
    
    
}

.dato-result{
    background-color: rgb(29, 29, 29);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-top: 8px;
    color: #ffd900;
    
}

.resultado{
    position: absolute;
    top: 60%;
    left: 20%;
}

.resultado-altura{
    position: absolute;
    top: 30%;
    left: 40%;
}

.resultado .dato{
    margin-bottom: 8px;
}

.dato{
    background-color: black;
    display: inline;
    
}

.send{
    position: absolute;
    top: 40%;
    left: 46%;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 120px;
}


button{
    background-color: #ffd900;
    border-color: none;
    outline: 0;
    border-style: none;
    font-weight: 700;
}

@media (max-width: 800px) {

    .frame{
        min-height: 100vh;
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .modelo{
        width: 100%;
        height: 37vh;
    }

    .bici{
        width: 100%;
        height: 37vh;
    }

    .send{
        position: absolute;
        top: 80%;
        left: 80%;
        z-index: 100;
        width: 80px;
        height: 80px;
        border-radius: 120px;
    }

    .resultado{
        position: absolute;
        top: 60%;
        left: 10%;
    }
    
}